<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title|safe %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор данного сайта!</h1>
<p>
    Меня зовут Глеб. Мне 24 года.<br> Я уже 3 месяц занимаюсь изучением языка программировая Python.<br>
    Учусь на курсе от Яндекс.Практикума в 56 кагорте.<br>
    Учиться интересно, но в тоже время трудно.<br>
    Но это не беда, все проходят через это, и я не растравиваюсь из за этого :)<br>

    Ссылки на мои соц.сети:<a href = 'https://github.com/Gleb-Naumov'>GitHub</a>
</p>
{% endblock %}